.navbarpeliculas{
    background-color: red;
} 
.contenedorSerie{
    margin: 1em;
    display: grid;
    max-width: 95%;
    grid-template-columns: 29em auto;
    grid-template-rows: 20em;
/*    background-color: rgb(0, 238, 255);
*/
    gap: 0.5em;
}
.contenedorIframe{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 15% auto;
    gap: 0.6em;
}
.contenedorIframe iframe{
    width: 100%;
    height: 100%; 
}
.btnComenzar{
    padding: 1em;
    width: 100%;
    background-color: #063254;
    border-radius: 0.5em;
    text-align: center;
}
.btnComenzar a{
    text-decoration: none;
    color: #ffff;
}
.actores a{
    text-decoration: none;
    color: #ffff;
}
.actores a:hover{
    text-decoration: underline;
    color: #4f22b8;
}
.contenedorDetalle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 3.1em) auto;
/*    border: 0.0625em solid rgb(151, 194, 71);
*/
}
.detalleSerie{
    display: flex;
    justify-content: space-between;
}
input, label, h2, p{
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.6em;
    font-size: 0.9em;
}
h3{
    font-size: 1.2em;
    color: #FFFFFF;
}
/*
.contenedorSerie article{
    border: 0.0625em solid red
}
*/
.galery{
    width: 97%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 1.25em; 
    padding: 1em 0.5em;
    gap: 0.5em;
    box-shadow: 0 0 1.25em 0 rgba(255, 255, 255, 3) ;
}
.item img{
/*    width: 50vh;
    height: 35vh;
*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5em;
}
/* Responsive contenedorSerie
*/
@media (max-width: 1290px) {
    .contenedorSerie{
        margin: 1em;
        display: grid;
        max-width: 100%;
        grid-template-columns: 20 auto;
        grid-template-rows: auto;  
/*        background-color: rgb(0, 238, 255);
*/
        gap: 0.5em;
    }
    input, label, h2, p{
        font-size: 0.7em;
        padding: 0.3em;
    }
    h3{
        font-size: 0.82em;
        color: #FFFFFF;
    }
}
@media(max-width: 820px) {
    .contenedorDetalle{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .contenedorSerie{
        margin: 1em;
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
/*        background-color: rgb(255, 0, 76);
*/
        gap: 0.5em;
    }
    input, label, h2, p{
        font-size: 0.6em;
        padding: 0.3em;
    }
    h3{
        font-size: 0.72em;
        color: #FFFFFF;
    }
}

/* Responsive detalleSerie 
*/
@media (max-width: 1290px) {
    .detalleSerie {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
        align-items: flex-start;
        background-color: black;
    }
    .btnComenzar{
        padding: 0.5em;
/*        border: 0.0625em solid rgb(151, 194, 71);    
*/   
    }
    .btnComenzar a{
        font-size: 0.7em;     
    }
    .detalleSerie select,
    .detalleSerie label,
    .detalleSerie option{
        font-size: 0.7em;
    }
}
@media(max-width: 820px) {
    .detalleSerie select,
    .detalleSerie label,
    .detalleSerie option{
        font-size: 0.6em;
        width: 100%;
    }
}
/* Responsive Galery 
*/
@media (max-width: 1290px) {
    .galery {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}
@media(max-width: 820px) {
    .galery {
        display: grid;
        grid-template-columns: 1fr;
    }
}