/*INDEX , RECUPERACION Y REGISTRO*/
/*BODY*/
.cuerpo{
    margin: 0;
    width: 100%;
    background: linear-gradient(#03002c, #08073b, #020022);
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    color: rgb(216, 218, 222);
}
/*FIN BODY*/
/*GRID-BODY*/
.cuerpo.wrapper{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 80% 10%;
}

.cuerpo.wrapper .encabezado{
    grid-column: 1/4;
    grid-row: 1;
}

.cuerpo.wrapper .main{
    grid-column: 2/3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.cuerpo.wrapper .main .sector, .cuerpo.wrapper .main .sector .formulario{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.cuerpo.wrapper .pie{
    grid-column: 1/4;
    grid-row: 3;
}
/*FIN GRID-BODY*/
/*ENCABEZADO*/
.cuerpo.wrapper .encabezado .diseño p{
    width: 48%;
    display: inline-block;
    padding: 0 1%;
}

.cuerpo.wrapper .encabezado .diseño .enlace{
    text-align: right;
}
/*FIN-ENCABEZADO*/
/*ENLACE*/
p a{
    text-decoration: none;
    color: rgb(216, 218, 222)
}
/*FIN-ENLACE*/
/*MAIN*/
.cuerpo.wrapper .main .sector, .cuerpo.wrapper .main .sector .formulario{
    width: 100%;
    height: 100%;
}

.cuerpo.wrapper .main .sector .formulario .conjunto{
    height: 80%;
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta .espacio{
    height: 2rem;
    width: 98%;
    background-color: #040421;
    margin: 0.7rem 0;
    border: 0.1rem solid #040421;
    border-radius: 1rem;
    color: rgb(216, 218, 222);
    box-sizing: border-box;
}

::placeholder{
    color: rgb(216, 218, 222);
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta.box{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.cuerpo.wrapper .main .sector .formulario .conjunto{
    background-color: rgba(216, 218, 222, 0.1);
    border: 0.3rem solid rgba(216, 218, 222, 0.3);
    border-radius: 1rem;
    box-sizing: border-box;
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta .submit, .main .sector .formulario .conjunto .diseño.wrapper .etiqueta .boton{
    height: 2rem;
    border: 0.1rem solid #040421;
    border-radius: 1rem;
    width: 11rem;
    box-sizing: border-box;
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta .submit{
    background-color: rgb(216, 218, 222, 0.7);
    color: rgb(0, 0, 0);
}

.main .sector .formulario .conjunto .diseño.wrapper .diseño.botones .etiqueta .boton{
    background-color: rgba(34, 32, 32, 0.3);
    color: rgb(216, 218, 222);
}
/*FIN-MAIN*/
/*FIN INDEX , RECUPERACION Y REGISTRO*/

@media screen and (max-width: 640px){
    .cuerpo.wrapper .main{
        grid-column: 1/4;
        grid-row: 2;
        overflow: scroll;
    }

   .cuerpo .main .sector .formulario .conjunto .diseño.wrapper .etiqueta .submit, .cuerpo .main .sector .formulario .conjunto .diseño.wrapper .etiqueta .boton{
    width: 8.8rem;
   }
}

@media screen and (min-width: 1025px){
    .cuerpo.wrapper{
        grid-template-columns: 30% 40% 30%;
    }
}