body{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    
    .cuerpo{
        background: linear-gradient(#03002c, #08073b, #020022);
        background-repeat: no-repeat;
        position: relative;
        min-height: 115vh;
        color: rgb(216, 218, 222);
        margin: 0;
        gap: 100px;
        
       
    }
    /*   NAVEGACION */
 body .cuerpo form{
    left: 50%;
    top: 50%;
    transform: translate(50%,50%);
 }
 .menu {
     display: flex;
     /* por defecto es row 
     flex-direction: row;
     */
     justify-content: center;
     width: 100%;
     position: absolute;
     top: 0;
     
 }
 .menu a{
     width: 100%;
     padding: 20px;
     color: #fff;
     text-decoration: none;
     border:1px solid #020022;
     text-align: center;
 }
 .menu a:hover {
     background-color: rgb(216, 218, 222);
 }
 
 /* VISTA PERFIL*/
 .datos  {
     display: grid;
     width: 70%;
     grid-template-columns: repeat(2,100%/2);
     background-color: #020022;
     border:2px solid #020022;
     text-align:center;
     justify-content: center;
     margin: 0 auto;
     box-sizing: border-box;
     min-height: 80vh;
     border-radius: 1em;
     
 }
 
 .datos .imagen {
     grid-column: 1/3;
     grid-row: 1;
     width: 100%;
     justify-content: center;
     
 }
 .imagen img{
     width: 150px;
 }
 .datos.personales{
     grid-column: 1;
     grid-row: 2;
     grid-gap: 5px;
     width: 100%;
     
     
 }
 .personales .etiqueta { 
     display: grid;
     grid-template-columns: auto;
     justify-content: center;
     text-align: left;
     margin-left: 16px;
 }
 .a{
     grid-column: 1;
     grid-row: 1;
     
 }
 
 
 .b{
     grid-column: 1;
     grid-row: 2;
     
 }
 .c{
     grid-column: 1;
     grid-row: 3;
 }
 .d{
     grid-column: 1;
     grid-row: 4;
 }
 .datos.metodos{
     grid-column: 2;
     grid-row: 2;
     width: 100%;
 }
 .metodos {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: repeat(3,100%/3);
     gap: 20px;
     justify-content: center;
     margin: 18px;
     margin-left: 50px;
     
 }
 
 .botones{
     grid-column: 1/3;
     grid-row: 4;
     width: 100%;
      justify-content: center;
    
 }
 .boton{
     width: 11em;
     margin: 0.7em 0;
     height: 2.7em;
     border-radius: 1em;
     border: 0.1em solid #040421;
     
 
 }
 .boton .can{
     border: #020022;
     background-color: rgba(34, 32, 32, 0.3);
     color: rgb(216, 218, 222);
 }
 .boton .sumit{
     background-color: rgb(216, 218, 222, 0.9);
     color: rgb(0, 0, 0);
 }
 
 @media screen and (max-width: 299px) {
    .menu,.datos{
     display : none;
    } 
 }
 @media screen and (min-width: 300px) and (max-width: 640px){
     .datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
 
     .metodos{
         display: flex;
         flex-direction: column;
         text-align: center;
         justify-content: center;
         margin-top: 40px;
     }
   .etiqueta{
         display: flex;
         flex-direction: column;
         justify-content: center;
     }
     p{
         text-align: center;
     }
     .botones{
         display: flex;
         flex-direction: column;
         margin-top: 30px;
         align-items: center;
     }
 }
 
     @media screen and (min-width:641px) and (max-width:900px) {
         .datos{
             justify-content: center;
         }
     }
     @media screen and (min-width :901px) and (max-width:1024px){
        .botones{
         padding-bottom: 20px;
         padding-top: 20px;
         display: inline;
        
         }
     }