.datos  {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2,70%/2);
   /*background-color: #020022;*/
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
    place-items: center;
    
}

.datos .imagen {
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
    
    
}
.imagen img{
    max-width: 35%;
    max-height: 35%;

}

.box {
   width: 100%;
}

.datos .personales {
   display: flex;
   flex-direction: column;
   
}
.etiqueta {
   color: #fff;
   padding: 15px;
   font-size: 20px;
   background-color: #020022;
   margin: 10px;
   border-radius: 1em;
   
}
.datos.metodos{
    grid-column: 2;
    grid-row: 2;
}

.metodos{
   display: flex;
   flex-direction: column;
}
.eti {
   color: #fff;
   padding: 15px;
   font-size: 20px;
   background-color: #020022;
   margin: 8px;
   border-radius: 1em;
   
}
.eti .a{
   display: block;
   padding: 10px;
}

.datos .botones{
   grid-column: 1/3;
   grid-row: 3;
}
.botones{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content:center;
   align-items: center;
   margin: 0.938 rem;
   padding: 0.938 rem;
}
.boton{
    width: 11em;
    margin: 0.7em 0;
    height: 2.7em;
    border-radius: 1em;
   /* border: 0.1em solid #040421;*/

}

.boton .can{
    border: #020022;
    background-color: rgba(34, 32, 32, 0.3);
    color: rgb(216, 218, 222);
}
.boton .sumit{
    background-color: rgb(216, 218, 222, 0.9);
    color: rgb(0, 0, 0);
}

/*@media screen and (max-width: 299px) {
   .menu,.datos{
    display : none;
   } 
}*/
@media (max-width: 640px){
    .datos{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .datos .personales input{
       width: 95%;
       padding: 5px;
       border-radius: 1em;
    }
    .metodos{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
       
    }
    
    .metodos input {
       width: 95%;
       padding: 5px;
       border-radius: 1em;
    }
  .etiqueta{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p{
        text-align: center;
    }
    .botones{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
   
   .boton{
       width: 98%;
       border-radius: 1em;
       padding: 1.25 rem;
       margin: 0;
   }
   .boton input{
       font-size: 20px;
   }

} 

    @media screen and (min-width:641px) and (max-width:900px) {
        .datos{
            justify-content: center;
        }
    }
    @media screen and (min-width :901px) and (max-width:1024px){
       .botones{
        padding-bottom: 1.25 rem;
        padding-top: 1.25 rem;
        display: inline;
       
        }
    }