@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat', sans-serif;*/
}
html {
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(#03002c, #08073b, #020022);
    width: 100%;
    height: 100%;
}

.d{
    background: linear-gradient(#03002c, #08073b, #020022);
    width: 100%;
    height: 100dvh;
}

.menu{
    background-color: #020022;
    display: flex;
    list-style: none;
}
.navbar ul li:hover{
    background-color: #063254;
}
.navhome{
    background-color: #063254;
}                
.navbar ul li{
    flex: auto;
    text-decoration: none;
    border: 0.0625em solid black;
    padding: 1.25em;
    text-align: center;
}
.navbar ul li a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
   /* font-size: 1.2em;*/
}
.white{
    color:#FFFFFF;
}
select{
    padding: 0.1em;
}
input, select{
   /* border: 0.12em solid #AD594D;*/
    border-radius: 0.4em;
}
/* Responsive Nav 
*/
@media (max-width: 1290px) {
    .navbar ul li{
        padding: 0.7em;
    }
    .navbar ul li a{
        font-size: 0.9em;
        padding: 0.7em;
    }
}
@media(max-width: 640px) {
    .menu {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        width: 100%
    }
    .navbar ul li{
        padding: 0.5em;
    }
    .navbar ul li a{
        font-size: 0.8em;
        padding: 10px;
    }
    .contenedro ,.categ,.categoria, label{
        font-size: 40px;
    }
}

