.navbarseries{
    background-color: #063254;
}  
.navbarpeliculas{
    background-color: #063254;
} 
.contenedorSerie{
    margin: 1em;
    display: grid;
    max-width: 95%;
   grid-template-columns: 60% auto;
  /* grid-template-rows: auto;*/
    gap: 0.5em;
}
.contenedorIframe{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 86% auto;
    gap: 0.6em;
}
.contenedorIframe iframe{
    width: 100%;
    height: 100%; 
}
.btnComenzar{
    padding: 1em;
    width: 100%;
    background-color: #063254;
    border-radius: 0.5em;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btnComenzar a{
    text-decoration: none;
    color: #ffff;
    font-size: 1.4em;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.actores a{
    text-decoration: none;
    color: #ffff;
}
.actores a:hover{
    text-decoration: underline;
    color: #4f22b8;
}
.contenedorDetalle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 3.1em) auto;
    box-sizing: border-box;
}
.descripcion{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.detalleSerie{
    display: flex;
    justify-content: space-between;
}
input, label, h2, p, a{
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.6em;
    font-size: 1.2em;
}
h3{
    font-size: 1.2em;
    color: #FFFFFF;
}
option{
    font-weight: bold;
}
.galery{
    width: 97%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 1.25em; 
    padding: 1em 0.5em;
    gap: 0.5em;
    box-shadow: 0 0 1.25em 0 rgba(255, 255, 255, 3) ;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5em;
}

/*  respncive*/

@media (max-width: 1290px) {
    .contenedorSerie{
        margin: 1em;
        display: grid;
        max-width: 100%;
        grid-template-columns: 20 auto;
        grid-template-rows: auto;  
        gap: 0.5em;
    }    
    input, label, h2, p, a{
        font-size: 1em;
        padding: 0.3em;
    }
    h3{
        font-size: 1em;
        color: #FFFFFF;
    }
}
@media(max-width: 640px) {
    .contenedorDetalle{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .contenedorSerie{
        margin: 1em;
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 30em auto auto; 
        gap: 0.5em;
    }
    input, label, h2, p, a{
        font-size: 1em;
        padding: 0.3em;
    }
    h3{
        font-size: 1em;
        color: #FFFFFF;
    }
}

/* Responsive detalleSerie/Pelicula 
*/
@media (max-width: 1290px) {
    .detalleSerie {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
        align-items: flex-start;
    }
    .btnComenzar{
        padding: 0.5em;
    }
    .btnComenzar a{
        font-size: 1em;     
    }
    .detalleSerie select,
    .detalleSerie label,
    .detalleSerie option{
        font-size: 1em;
    }
}
@media(max-width: 640px) {
    .detalleSerie select,
    .detalleSerie label,
    .detalleSerie option{
        font-size: 1em;
        width: 100%;
    }
}
/* Responsive Galery 
*/
@media (max-width: 1290px) {
    .galery {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}
@media(max-width: 640px) {
    .galery {
        display: grid;
        grid-template-columns: 1fr;
    }
}
