/*PRINCIPAL*/
/*BODY*/
.cuerpo{
    height: 80em;
}
/*FIN BODY*/
/*GRID BODY*/
.cuerpo.wrapper{
    grid-template-rows: 5% 5% 10% 70% 10%;
}

.cuerpo.wrapper .main{
    grid-template-rows: calc(100%/8) calc((100%/8)*7);
}

.cuerpo.wrapper .main .sector-columnas .columna{
    grid-template-rows: repeat(4, 25%);
}
/*FIN GRID BODY*/
/*FIN PRINCIPAL*/