/*BODY*/
/*INDEX , RECUPERACION Y REGISTRO*/
.cuerpo{
    margin: 0;
    background: linear-gradient(#03002c, #08073b, #020022);
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    color: rgb(216, 218, 222);
}
/*GRID-BODY*/
.cuerpo.wrapper{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 80% 10%;
}

.cuerpo.wrapper .encabezado{
    grid-column: 1/4;
    grid-row: 1;
}

.cuerpo.wrapper .main{
    grid-column: 2/3;
    grid-row: 2;
}

.cuerpo.wrapper .pie{
    grid-column: 1/4;
    grid-row: 3;
}
/*FIN GRID-BODY*/
/*ENCABEZADO*/
.cuerpo.wrapper .encabezado .diseño p{
    width: 48%;
    display: inline-block;
    padding: 0 1%;
}

.cuerpo.wrapper .encabezado .diseño .enlace{
    text-align: right;
}
/*FIN-ENCABEZADO*/
/*ENLACE*/
p a{
    text-decoration: none;
    color: rgb(216, 218, 222)
}
/*FIN-ENLACE*/
/*MAIN*/
.cuerpo.wrapper .main .sector, .cuerpo.wrapper .main .sector .formulario{
    width: 80%;
    height: 100%;
    margin: 0 10%;
}

.cuerpo.wrapper .main .sector .formulario .conjunto{
    height: 95%;
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta .espacio{
    height: 2.5em;
    width: 98%;
    background-color: #040421;
    margin: 0.7em 0;
    border: 0.1em solid #040421;
    border-radius: 1em;
    color: rgb(216, 218, 222);
}

::placeholder{
    color: rgb(216, 218, 222);
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta.box{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.cuerpo.wrapper .main .sector .formulario .conjunto{
    background-color: rgba(216, 218, 222, 0.06);
    border-radius: 0.5em;
    border: none;
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta .submit, .main .sector .formulario .conjunto .diseño.wrapper .etiqueta .boton{
    height: 2.7em;
    border: 0.1em solid #040421;
    border-radius: 1em;
}

#submit{
    width: 11em;
}

.main .sector .formulario .conjunto .diseño.wrapper .etiqueta .submit{
    background-color: rgb(216, 218, 222, 0.9);
    color: rgb(0, 0, 0);
}

.main .sector .formulario .conjunto .diseño.wrapper .diseño.botones .etiqueta .boton{
    width: 11em;
    background-color: rgba(34, 32, 32, 0.3);
    color: rgb(216, 218, 222);
}
/*FIN-MAIN*/