/*ENCABEZADO*/
.cuerpo .encabezado .unflix{
    justify-content: flex-start;
}

.cuerpo .encabezado .unflix p{
    font-size: 2em;
    margin: 0 1em;
}

a{
    text-decoration: none;
    color: rgb(216, 218, 222)
}

.cuerpo .encabezado .unflix, .cuerpo .encabezado .redes{
    display: flex;
    align-items: center;
}

.cuerpo .encabezado .redes{
    justify-content: flex-end;
    margin: 1em;
    gap: 0.5em;
}

.cuerpo .encabezado .redes a span{
    font-size: 2em;
}

.cuerpo .encabezado .redes .facebook{
    color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 0.4em;
}

.cuerpo .encabezado .redes .twitter{
    background-color: rgb(0, 0, 0);
    border-radius: 0.4em;
}

.cuerpo .encabezado .redes .instagram{ 
    background: linear-gradient(rgb(181, 35, 113), rgb(224, 5, 20), rgb(224, 128, 17));
    border-radius: 0.4em;
}

.cuerpo .encabezado .redes .twitter, .cuerpo .encabezado .redes .instagram{
    color: rgb(255, 255, 255);
}
/*FIN ENCABEZADO*/
/*NAVEGACION*/
.cuerpo .navegacion .desordenada{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.cuerpo .navegacion .desordenada .lista{
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(34, 32, 32, 0.3), rgba(255, 255, 255, 0.3));
    border-radius: 0.5em;
}

.cuerpo .navegacion .desordenada .lista .etiqueta .boton{    
    height: 2.7em;
    width: 15em;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(34, 32, 32, 0.3), rgba(255, 255, 255, 0.3));
    color: rgb(216, 218, 222);
    border-radius: 0.5em;
    gap: 0.2em;
}

.cuerpo .navegacion .desordenada .lista, .cuerpo .navegacion .desordenada .lista .etiqueta .boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo .navegacion .desordenada .lista .etiqueta .boton p{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
/*FIN NAVEGACION*/